$selection-color:#2BA3FC;
$linker-color:#344353;
$primary-color:#D98BC3;
$secondary-color:#2B93C1;
$tertiary-color:#A576DA;

$edge-endpoint-z:3;
$edge-text-z:$edge-endpoint-z+1;

body{
	font-family: 'Source Sans Pro', sans-serif;
	margin:0px;
}

.generic-block{
	position:absolute;
	// background:white;
	// border: 2px solid black;
	overflow: scroll;
	z-index: 1;
}

.drop-shadowed-pop-up{
	position: absolute;
	overflow: scroll;
	z-index:10;
	background: #FFFFFF;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
}

#selection-box{
	border:1px solid blue;
	background: rgba(19.5%, 47.8%, 92.9%, 0.3);
	position:absolute;
	z-index:11;
}

#creation-drawer-list{
	list-style-type: none;
}

#creation-drawer-list li{
	width:100%;
	height:50px;
}

#edge-style-list{
	list-style-type: none;
	padding:0px;
	margin: 0px
}

#edge-style-list li{
	height:50px;
	text-align: center;
}

#edge-style-list li:hover{
	background: lightgrey;
}

#remove-list-item{
	background: #E54F4F;
	color:#FFF;
	text-align: center;
	padding-top: 15px;
	height: 30px;
}

#remove-list-item:hover{
	background:#930101;
}

#creation-drawer-list li{
	display: inline;
	padding-right:30px;
}

#multiple-selection-container{
	border:1px solid blue;
	position:absolute;
	z-index:11;
	pointer-events: none;//selection box should not block any events on the nodes behind it.
}

#back-to-dashboard{
	position: absolute;
	top:20px;
	left:20px;
	color:gray;

}

.node-content-input{
	width: 100%;
    height: 100%;
    text-align: center;
	font-size: 1.3em
}

.selected{
	border-color:$selection-color;
	color:$selection-color;
}

.medium-bubble{
	border-radius:50%;
	position:absolute;
	width:15px;
	height:15px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100;
	cursor: pointer;
}

.remove-operation{
	background:red;//TODO SVG background 

}

.edit-operation{
	background:cornflowerblue;//TODO SVG background 
}

.toggle-outline-operation{
	background:white;
	border:1px dashed black;
}

.toggle-shape-operation{
	background:lightpink;
}

.node-background{
	z-index: -1;
	position: absolute;
	top: 0px;
	left: 0px;
}

.node-content{
	position: relative;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.edge-endpoint{
	position: absolute;
	height:auto;
	z-index: $edge-endpoint-z;
}

.edge-text{
	position: absolute;
	display: block;
	z-index: $edge-text-z;
	background:white;//not transparent
	font-size:0.8em;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.selected-block{
	border-color: $selection-color;
}

.block-cell{
	padding:4px;
	margin:0px;
}

.header-block-cell{
	line-height: 34px;
	text-align: center;
	margin-bottom: 4px;
}

.header-decorater{
	line-height: 15px;
	margin-top:3px;
}

.content-block-cell{
	line-height: 20px;
	padding-left:8px;
}

.top-border-solid{
	border-top: 2px solid black;
}

.bottom-border-solid{
	border-bottom: 2px solid black;
}

.solid-horizontal-line{
	width: 100%;
	background: black;
	height: 2px;
}

.mini-top-bottom-margin{
	margin-top:4px;
	margin-bottom:4px;
}

.bogus-container{
	margin: 0px;
	padding: 0px;
}

.italic{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.center-align{
	text-align: center;
}

.handle-pick{
	position:absolute;
	border:none;
	background:$selection-color;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.center-anchored{
	position:absolute;
	transform-origin: center;
}

.line-segment{
	text-align: center;
	position:absolute;
	height:1px;//indicates thickness
	background:black;
	z-index: -1;
}

#starter-tip{
	color:grey;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align: center;
}

.link-circle{
	position:absolute;
	border-radius:50%;
	transform:translate(-50%,-50%);
	background:$linker-color;
	z-index: 2;
}

.debug{
	position:absolute;
	width:20px;
	height: 20px;
	background: red;
	border:1px solid black;
	transform:translate(-50%,-50%);
}

 .form-field{
	background: #F8F8F8;
	border: none;
    height: 40px;
    padding-left: 25px;
	min-width: 200px;
}

.form-field:focus{
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.50);
	outline:none;
}

.button{
	color:white;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	height:20px;
	padding:10px;
	font-size:1em;
	display: inline-block;
    text-align: center;
	min-width: 70px;
}

.primary{
	background-image: linear-gradient(19deg, #34A0AA 0%, #1879EF 100%);
}

.primary-complement{
	background-image: linear-gradient(36deg, #9D40B3 0%, #DA8BC3 100%);
}

.full-width-center{
	text-align: center;
	width:100%;
}

.no-list-style{
	list-style: none;
}

ul.centered-list{
	text-align: center;
	list-style: none;
	padding:0px;
}

ul.centered-list li{
	margin:20px;
}

ul.horizontal-list li{
	display: inline-block;
}

.big-padding-bottom{
	padding-bottom:40px;
}

.big-padding-top{
	padding-top:40px;
}

header{
	width:100%;
	background: #FFFFFF;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
	text-align:center;
	height:80px;
	line-height: 80px;
	margin-bottom:70px;
}

header h1{
	margin:0px;
	font-size: 30px;
	color: #6F6F6F;
	font-weight: lighter;
	display: inline-block;
}

.header-logo{
	float:left;
	width: auto;
	height: 70%;
	padding-left: 20px;
	padding-top: 10px;
}

ul.header-links-container{
	float:right;
	margin:0px 20px 0px 0px;
}

ul.header-links-container li{
	padding-right:10px;
	
}

.header-link{
	text-decoration: none;
	color:$primary-color;
	font-weight: bold;
	cursor: pointer;
}

.header-link:hover{
	color:$tertiary-color;
}

ul.horizontal-list.spaced-out li{
	padding-right:10px;
}

.dashboard-actions{
	cursor:pointer;
}

.float-right{
	float:right;
}

.worksheet-title{
	color: $primary-color;
	margin-bottom:5px;
	margin-top:5px;
	cursor:pointer;
}

.worksheet-title:hover{
	color:$tertiary-color;
}

.worksheet-description{
	color: $secondary-color;
	font-weight: 300;
	margin-top:0px;
	margin-bottom:5px;
}

.worksheet-info{
	padding-left:30px;
	display: inline-block;
}

.worksheet-row{
	border-bottom: 1px solid black;
	text-align: left;
	height:100px;
	overflow-y:clip;
}

.gaps-on-sides{
	margin-left:40px;
	margin-right:40px;
}

.no-margin{
	margin:0px;
}

ul.centered-list li.no-margin{
	margin:0px;
}

.dashboard-options{
	color:$tertiary-color;
	text-align: left;
	height: 60px;
    border-bottom: 1px solid black;
	padding-left:30px;
}

.wide{
	width:40%;
}

.new-worksheet{
	padding-right:40px;
	float:right;
	padding-right:40px;
	cursor: pointer;
}

.new-worksheet img{
	padding-right:20px;
	position: relative;
	top:10px;
}

.new-worksheet span{
	font-size:1.3em;
	position: relative;
	top:10px;
}

