#menu-controls{
	position: absolute;
	padding: 0px;
	top:10px;
	li{
		color:blue;
		cursor:pointer;
		display: inline;
		list-style: none;
	}
	li:hover{
		color:darkblue;
	}
}

#container{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
	overflow: hidden;
}