//this file is not used (all 'view' work is done in angular)
html
	head
		title Box Chart
		meta(charset="UTF-8")
		meta(name='viewport',content='width=device-width, initial-scale=1')
		link(rel='stylesheet',href='https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/4.1.0/css/fabric.min.css')				
	body		
		h1 deprecated homepage

