<a style="background: blue;color: white" (click)="router.navigate(['/dashboard'])">Dashboard</a>

<div>Account</div>

<div *ngIf="user!=null">

	<div>
		<span>firstName:</span>
		<input type="text" [(ngModel)]="user.firstName"/>
	</div>

	<div>
		<span>lastName:</span>
		<input type="text" [(ngModel)]="user.lastName"/>
	</div>

	<div>
		<span>email:</span>
		<input type="text" [(ngModel)]="user.email"/>
	</div>

	<div>
		<span>gender:</span>
		<input type="text" [(ngModel)]="user.gender"/>
	</div>
</div>

<!--TODO allow changing password-->

<a (click)="saveAccountDetails()">Save details</a>