<div id="massive-area"
 [style.width]="massiveArea.width+'px'" 
 [style.height]="massiveArea.height+'px'" 
 [style.left]="massiveArea.x+'px'" 
 [style.top]="massiveArea.y+'px'"
 (mousedown)="mousedown($event)"
 (mousemove)="mousemove($event)"
 (mouseup)="mouseup($event)"
 (dblclick)="doubleClickedArtboard($event)"
 >
	<h1 id="starter-tip"
	[style.left]="massiveArea.width/2"
	[style.top]="massiveArea.height/2"
	>Double click anywhere to create a box</h1>
	<box *ngFor="let rect of rectList" [rect]="rect" (requestDragging)="setDragInteractionIfEmpty($event)"></box>
	<line-segment [start]="st" [end]="en"></line-segment>
	<class-diagram *ngFor="let classDiagram of worksheet.classDiagramList" [classDiagram]="classDiagram"></class-diagram>
	<interface-diagram *ngFor="let interfaceDiagram of worksheet.interfaceDiagramList" [interfaceDiagram]="interfaceDiagram"></interface-diagram>
	<class-object-diagram *ngFor="let classObject of worksheet.classObjectDiagramList" [classObjectDiagram]="classObject"></class-object-diagram>
</div>