<div class="generic-block"
[style.left.px]="classDiagram.rect.x"
[style.top.px]="classDiagram.rect.y"
[style.width.px]="classDiagram.rect.width"
[style.height.px]="classDiagram.rect.height"
[style.selected-block]="classDiagram.selected" 
(click)="toggleSelection()" 
(mousepress)="registerDragIntention(this)">

	<div class="block-cell bottom-border-solid header-block-cell">
		<span [class.italic]="classDiagram.classDefinition.isAbstract">{{classDiagram.classDefinition.name}}</span>
	</div>

	<div 
	*ngFor="let fieldMember of classDiagram.classDefinition.fieldList " 
	class="block-cell content-block-cell"
	contenteditable="true"
	>
		{{fieldMember.accessSpecifier | accessSymbol}} {{fieldMember.variableDefinition.name}} : {{fieldMember.variableDefinition.type.getName()}}
	</div>
	<div class="solid-horizontal-line mini-top-bottom-margin"> </div>
	<div *ngFor="let methodMember of classDiagram.classDefinition.methodList; let i=index" 
		class="block-cell content-block-cell"
		contenteditable="true"
		>

		{{methodMember.accessSpecifier | accessSymbol}} 
		<span [class.italic]="methodMember.isAbstract">
		{{methodMember.methodPrototype.identifier}} 
		(
			<span *ngFor="let argument of methodMember.methodPrototype.argumentList">
				{{argument.name}} : {{argument.type.getName()}}
			</span>
		)
		: {{methodMember.methodPrototype.returnType.getName()}}
		</span>
	</div>
</div>