<ng-container *ngIf="edge!=null">

	<div class="link-circle" 
		(mousedown)="openStyleOptions($event)"
		[style.left.px]="follow.x"
		[style.top.px]="follow.y"
		[style.width.px]="10"
		[style.height.px]="10">
	</div>
</ng-container>

<div 
	class="drop-shadowed-pop-up"
	(mousedown)="preventClosingOfOptions($event)"
	[style.width.px]="200"
	[style.height.px]="250"
	[style.left.px]="follow.x"
	[style.top.px]="follow.y"
	[@styleOptionsOpen]="workspace.edgeStyleOptionsIsOpen?'open':'closed'" 
	(@styleOptionsOpen.done)="afterMenuOpens($event)"
	>
	<ul id="edge-style-list">

		<li>
			<ng-container *ngIf="fromEndpointOptionShouldComeBeforeTo()">
				<button class="edge-style-row-one-of-three" (mousedown)="toggleFromEndpoint($event)">
					<ng-container [ngSwitch]="edge.style.fromEndpoint">
						<img src="../assets/edge-endpoints/circle-stop.png" alt="None"*ngSwitchCase="1">
						<img src="../assets/edge-endpoints/empty-arrow.png" alt="Empty Arrow"*ngSwitchCase="2">
						<img src="../assets/edge-endpoints/filled-arrow.png" alt="Filled Arrow" *ngSwitchCase="3">
						<img src="../assets/edge-endpoints/empty-diamond.png" alt="Empty Diamond" *ngSwitchCase="4">
						<img src="../assets/edge-endpoints/filled-diamond.png" alt="Filled Diamond" *ngSwitchCase="5">
					</ng-container>
				</button>
				<button class="edge-style-row-one-of-three remove-edge-button" (mousedown)="removeEdge($event)">Remove</button>
				<button class="edge-style-row-one-of-three" (mousedown)="toggleToEndpoint($event)">
					<ng-container [ngSwitch]="edge.style.toEndpoint">
						<img src="../assets/edge-endpoints/circle-stop.png" alt="None"*ngSwitchCase="1">
						<img src="../assets/edge-endpoints/empty-arrow.png" alt="Empty Arrow"*ngSwitchCase="2" class="flip-horizontally">
						<img src="../assets/edge-endpoints/filled-arrow.png" alt="Filled Arrow" *ngSwitchCase="3" class="flip-horizontally">
						<img src="../assets/edge-endpoints/empty-diamond.png" alt="Empty Diamond" *ngSwitchCase="4" class="flip-horizontally">
						<img src="../assets/edge-endpoints/filled-diamond.png" alt="Filled Diamond" *ngSwitchCase="5" class="flip-horizontally">
					</ng-container>
				</button>
			</ng-container>

			<ng-container *ngIf="!fromEndpointOptionShouldComeBeforeTo()">
				<button class="edge-style-row-one-of-three" (mousedown)="toggleToEndpoint($event)">
					<ng-container [ngSwitch]="edge.style.toEndpoint">
						<img src="../assets/edge-endpoints/circle-stop.png" alt="None"*ngSwitchCase="1">
						<img src="../assets/edge-endpoints/empty-arrow.png" alt="Empty Arrow"*ngSwitchCase="2">
						<img src="../assets/edge-endpoints/filled-arrow.png" alt="Filled Arrow" *ngSwitchCase="3">
						<img src="../assets/edge-endpoints/empty-diamond.png" alt="Empty Diamond" *ngSwitchCase="4">
						<img src="../assets/edge-endpoints/filled-diamond.png" alt="Filled Diamond" *ngSwitchCase="5">
					</ng-container>
				</button>
				<button class="edge-style-row-one-of-three remove-edge-button" (mousedown)="removeEdge($event)">Remove</button>
				<button class="edge-style-row-one-of-three" (mousedown)="toggleFromEndpoint($event)">
					<ng-container [ngSwitch]="edge.style.fromEndpoint">
						<img src="../assets/edge-endpoints/circle-stop.png" alt="None"*ngSwitchCase="1">
						<img src="../assets/edge-endpoints/empty-arrow.png" alt="Empty Arrow"*ngSwitchCase="2" class="flip-horizontally">
						<img src="../assets/edge-endpoints/filled-arrow.png" alt="Filled Arrow" *ngSwitchCase="3" class="flip-horizontally">
						<img src="../assets/edge-endpoints/empty-diamond.png" alt="Empty Diamond" *ngSwitchCase="4" class="flip-horizontally">
						<img src="../assets/edge-endpoints/filled-diamond.png" alt="Filled Diamond" *ngSwitchCase="5" class="flip-horizontally">
					</ng-container>
				</button>
			</ng-container>

		</li>
		<li>
			<input class="edge-label-field" type="text" placeholder="Label" (keydown)="changeLabel($event)" [(ngModel)]="editedEdgeLabel"/>
		</li>

		<li>
			<div class="edge-style-row-one-of-three edge-stroke-button" (mousedown)="changeDashing(1,$event)">
				<svg width="100%" height="50" >
					<line stroke-dasharray="0" [style.stroke]="'#000'" x1="10%" y1="25" x2="90%" y2="25"></line>
				</svg>
			</div>
			<div class="edge-style-row-one-of-three edge-stroke-button" (mousedown)="changeDashing(2,$event)">
				<svg width="100%" height="50" >
					<line stroke-dasharray="7" [style.stroke]="'#000'" x1="10%" y1="25" x2="90%" y2="25"></line>
				</svg>
			</div>
			<div class="edge-style-row-one-of-three edge-stroke-button" (mousedown)="changeDashing(3,$event)">
				<svg width="100%" height="50" >
					<line stroke-dasharray="3 7" [style.stroke]="'#000'" x1="10%" y1="25" x2="90%" y2="25"></line>
				</svg>
			</div>
		</li>
	</ul>
</div>


