<ng-container *ngIf="edge!=null">

	<div class="link-circle" 
		(mousedown)="openStyleOptions($event)"
		[style.left.px]="follow.x"
		[style.top.px]="follow.y"
		[style.width.px]="10"
		[style.height.px]="10">
	</div>
</ng-container>

<div 
	class="drop-shadowed-pop-up"
	(mousedown)="preventClosingOfOptions($event)"
	[style.width.px]="200"
	[style.height.px]="250"
	[style.left.px]="follow.x"
	[style.top.px]="follow.y"
	[@styleOptionsOpen]="workspace.edgeStyleOptionsIsOpen?'open':'closed'" >
	<ul id="edge-style-list">
		<li id="remove-list-item" (mousedown)="removeEdge($event)">
			Remove
		</li>
		<li (mousedown)="changeDashing(1,$event)">
			<svg width="100%" height="50" >
				<line stroke-dasharray="0" [style.stroke]="'#000'" x1="10%" y1="25" x2="90%" y2="25"></line>
			</svg>
		</li>
		<li (mousedown)="changeDashing(2,$event)">
			<svg width="100%" height="50" >
				<line stroke-dasharray="7" [style.stroke]="'#000'" x1="10%" y1="25" x2="90%" y2="25"></line>
			</svg>
		</li>
		<li (mousedown)="changeDashing(3,$event)">
			<svg width="100%" height="50" >
				<line stroke-dasharray="3 7" [style.stroke]="'#000'" x1="10%" y1="25" x2="90%" y2="25"></line>
			</svg>
		</li>
	</ul>
</div>