<div class="generic-block"
[style.left.px]="node.geometry.getBoundingBox().x"
[style.top.px]="node.geometry.getBoundingBox().y"
[style.width.px]="node.geometry.getBoundingBox().width"
[style.height.px]="node.geometry.getBoundingBox().height"
[style.opacity]="opacity()"
[@selection]="node.selected?'selected':'unselected'" 
(mousedown)="mousedown($event)"
(dblclick)="editContent($event)">
	<!-- Background based on type of generic shape (Refer GenericDiagramNodeType in worksheet.ts)-->
	<svg width="100%" height="100%" class="node-background" >

		<!--Rectangle(2)-->
		<rect *ngIf="node.geometry.type==2" x="1%" y="1%" width="99%" height="99%"
		 [style.fill]="fillColor()" [style.stroke]="strokeColor()" [style.stroke-width]="2" [attr.stroke-dasharray]="strokeDashArray()"/>
		
		<!--Rectangle(2) double border if needed-->
		<rect *ngIf="node.geometry.type==2 && node.doubleBorder" 
			[attr.x]="doubleBorderPercentForFlatOffsetInWidth()"
			[attr.y]="doubleBorderPercentForFlatOffsetInHeight()" 
			[attr.width]="doubleBorderPercentForWidthWithFlatReduction()"
			[attr.height]="doubleBorderPercentForHeightWithFlatReduction()"
		 [style.fill]="fillColor()" [style.stroke]="strokeColor()" [style.stroke-width]="1" [attr.stroke-dasharray]="0"/>

		<!--Circle(3)-->
		<!--TODO Ellipse should be on its own-->
		<ellipse *ngIf="node.geometry.type==3" cx="50%" cy="50%" rx="49%" ry="49%"
		 [style.fill]="fillColor()" [style.stroke]="strokeColor()" [style.stroke-width]="2" [attr.stroke-dasharray]="strokeDashArray()"/>

		<!--Circle(3) double border if needed-->
		<!--TODO Ellipse should be on its own-->
		<ellipse *ngIf="(node.geometry.type==3) && node.doubleBorder" cx="50%" cy="50%" rx="40%" ry="40%"
		 [style.fill]="fillColor()" [style.stroke]="strokeColor()" [style.stroke-width]="1" [attr.stroke-dasharray]="0"/>

		 <!--These following shapes don't exist yet-->
		<!--Rounded Rectangle(5)-->
		<rect *ngIf="node.geometry.type==5" width="100%" height="100%" rx="20px" ry="20px"
		 [style.fill]="fillColor()" [style.stroke]="strokeColor()" [style.stroke-width]="3" [attr.stroke-dasharray]="strokeDashArray()"/>
		<!--Parallelogram(8)-->
		<!--TODO buggy:gets clipped by bounds, needs trignometry fix-->
		<rect *ngIf="node.geometry.type==8" x="0" y="0" width="100%" height="100%" transform="skewX(-20)"
		 [style.fill]="fillColor()" [style.stroke]="strokeColor()" [style.stroke-width]="3" [attr.stroke-dasharray]="strokeDashArray()"/>
	</svg>

	<div class="node-content"
		[style.left.px]="node.geometry.getBoundingBox().width/2"
		[style.top.px]="node.geometry.getBoundingBox().height/2"
		[style.color]="node.foreground.hashCode()" >{{node.content}}
	</div>
</div>

<ng-container *ngIf="false">

	<!-- 8 Reize handlers with different placement can be placed outside (absolute positioned)-->
	<!-- TODO possible through loop but angular 2 doesn't provide general counter loops-->
	<resize-handle [rect]="node.geometry.getBoundingBox()" [placement]="1" 
	*ngIf="soloSelected" 
	(requestDragging)="registerDragIntention($event)" 
	(updateAllResizeHandlers)="updateAllResizeHandlers($event)">
	</resize-handle>

	<resize-handle [rect]="node.geometry.getBoundingBox()" [placement]="2"  
	*ngIf="soloSelected" 
	(requestDragging)="registerDragIntention($event)" 
	(updateAllResizeHandlers)="updateAllResizeHandlers($event)">
	</resize-handle>

	<resize-handle [rect]="node.geometry.getBoundingBox()" [placement]="3"  
	*ngIf="soloSelected" 
	(requestDragging)="registerDragIntention($event)" 
	(updateAllResizeHandlers)="updateAllResizeHandlers($event)">
	</resize-handle>

	<resize-handle [rect]="node.geometry.getBoundingBox()" [placement]="4"  
	*ngIf="soloSelected" 
	(requestDragging)="registerDragIntention($event)" 
	(updateAllResizeHandlers)="updateAllResizeHandlers($event)">
	</resize-handle>

	<resize-handle [rect]="node.geometry.getBoundingBox()" [placement]="5"  
	*ngIf="soloSelected" 
	(requestDragging)="registerDragIntention($event)" 
	(updateAllResizeHandlers)="updateAllResizeHandlers($event)">
	</resize-handle>

	<resize-handle [rect]="node.geometry.getBoundingBox()" [placement]="6"  
	*ngIf="soloSelected" 
	(requestDragging)="registerDragIntention($event)" 
	(updateAllResizeHandlers)="updateAllResizeHandlers($event)">
	</resize-handle>

	<resize-handle [rect]="node.geometry.getBoundingBox()" [placement]="7" 
	*ngIf="soloSelected" 
	(requestDragging)="registerDragIntention($event)" 
	(updateAllResizeHandlers)="updateAllResizeHandlers($event)">
	</resize-handle>

	<resize-handle [rect]="node.geometry.getBoundingBox()" [placement]="8"  
	*ngIf="soloSelected" 
	(requestDragging)="registerDragIntention($event)" 
	(updateAllResizeHandlers)="updateAllResizeHandlers($event)">
	</resize-handle>

</ng-container>

<div 
	*ngIf="soloSelected" 
	class="medium-bubble remove-operation"
	(mousedown)="removeMe.emit(node)"
	[style.left.px]="node.geometry.getBoundingBox().topRight().offset(10,0).x"
	[style.top.px]="node.geometry.getBoundingBox().topRight().offset(0,-10).y"
	><!--TODO try to externalize offset values (10)-->

</div>

<div 
	*ngIf="soloSelected" 
	class="medium-bubble edit-operation"
	(mousedown)="editContent($event)"
	[style.left.px]="node.geometry.getBoundingBox().topLeft().offset(-10,0).x"
	[style.top.px]="node.geometry.getBoundingBox().topLeft().offset(0,-10).y"
	><!--TODO try to externalize offset values (10)-->

</div>

<div 
	*ngIf="soloSelected" 
	class="medium-bubble toggle-outline-operation"
	(mousedown)="toggleOutline($event)"
	[style.left.px]="node.geometry.getBoundingBox().bottomLeft().offset(-10,0).x"
	[style.top.px]="node.geometry.getBoundingBox().bottomLeft().offset(0,10).y"
	><!--TODO try to externalize offset values (10)-->

</div>

<div 
	*ngIf="soloSelected" 
	class="medium-bubble toggle-shape-operation"
	(mousedown)="toggleShape($event)"
	[style.left.px]="node.geometry.getBoundingBox().bottomRight().offset(10,0).x"
	[style.top.px]="node.geometry.getBoundingBox().bottomRight().offset(0,10).y"
	><!--TODO try to externalize offset values (10)-->

</div>


<div 
	*ngIf="soloSelected" 
	class="drop-shadowed-pop-up"
	(mousedown)="preventClosingOfOptions($event)"
	[style.width.px]="200"
	[style.height.px]="250"
	[style.left.px]="node.geometry.getBoundingBox().topLeft().offset(-10,0).x"
	[style.top.px]="node.geometry.getBoundingBox().topLeft().offset(0,-10).y"
	[@contentEditingOpen]="workspace.contentEditingIsOpen?'open':'closed'" >
	<input #contentEditingField class="node-content-input" type="text" (keydown)="changeContent($event)" [(ngModel)]="editedContent"/>
</div>

<!-- Gizmo Edge associated with this Node-->
<gizmo-edge 
	*ngIf="soloSelected  && !nodeMoving" 
	[workspace]="workspace"
	[fromNode]="node"
	[positionOfTheCursor]="workspace.cursorPosition"
	[prepared]="prepared"
	[ghostNode]="ghostNode"
	(linkNodes)="linkNodes.emit($event)"
	(requireNewEdgeAndGhost)="prepareNewEdgeAndGhost()"
>
</gizmo-edge>