<!--<div class="link-circle" 
	(mousedown)="linkNodesByDragging($event)"
	[style.left.px]="fromNode.geometry.getTrackingPoint().gravitateTowards(cursorPosition,30).x"
	[style.top.px]="fromNode.geometry.getTrackingPoint().gravitateTowards(cursorPosition,30).y"
	[style.width.px]="10"
	[style.height.px]="10">

</div>

<line-segment
	[start]="fromNode.geometry.getTrackingPoint().gravitateTowards(workspace.cursorPosition)" 
	[end]="fromNode.geometry.getTrackingPoint().gravitateTowards(workspace.cursorPosition,30)"
	>
</line-segment>-->
gizmo edge