<ng-container *ngIf="showGhostNode">
	<!--Ghost Node should'nt block events on the gizmo-->
	<generic-node
				[genericNode]="ghostNode"
				[workspace]="workspace"
				[soloSelected]="false"
				></generic-node>
</ng-container>
<ng-container *ngIf="prepared!=null && prepared.fromPoint!=null && prepared.toPoint!=null">
	<line-segment
		[start]="prepared.fromPoint.pointOnGeometry()" 
		[end]="prepared.toPoint.pointOnGeometry()"
		[color]="prepared.style.color"
		[dashStyle]="prepared.style.dashStyle"
		[startStyle]="prepared.style.fromEndpoint"
		[endStyle]="prepared.style.toEndpoint"
		>
	</line-segment>

	<div class="link-circle" 
		(mousedown)="linkNodesByDragging($event)"
		(mouseenter)="mouseenter($event)"
		(mouseleave)="mouseleave($event)"
		[style.left.px]="prepared.toPoint.pointOnGeometry().x"
		[style.top.px]="prepared.toPoint.pointOnGeometry().y"
		[style.width.px]="10"
		[style.height.px]="10">

	</div>
</ng-container>
