
<svg 
	[style.pointer-events]="'none'"
	[style.left.px]="topLeft().x" 
	[style.top.px]="topLeft().y"
	[style.position]="'absolute'"
 	[attr.height]="boundingHeight()"
	[attr.width]="boundingWidth()">
  <svg:line [attr.x1]="withinBounds(start).x"
	[attr.y1]="withinBounds(start).y"
	[attr.x2]="withinBounds(end).x"
	[attr.y2]="withinBounds(end).y"
	[attr.stroke-dasharray]="strokeDashArray()"
	[style.stroke]="color.hashCode()"
	[ngStyle]="{'stroke-width':2}"
	/>
</svg>

<ng-container [ngSwitch]="startStyle">
	<img src="../assets/edge-endpoints/empty-arrow.png" alt="Empty arrow"
		*ngSwitchCase="2"
		class="edge-endpoint"
		[ngStyle]="{'-webkit-transform':startEndpointTransform(),
		'transform':startEndpointTransform(),
		'width':10+'px'}"
		[style.left.px]="shiftedPoint(7).x"
		[style.top.px]="shiftedPoint(7).y"
	 >
	<img src="../assets/edge-endpoints/filled-arrow.png" alt="Filled arrow"
		*ngSwitchCase="3" 
		class="edge-endpoint"
		[ngStyle]="{'-webkit-transform':startEndpointTransform(),
		'transform':startEndpointTransform(),
		'width':10+'px'}"
		[style.left.px]="shiftedPoint(7).x"
		[style.top.px]="shiftedPoint(7).y"
	 >
	<img src="../assets/edge-endpoints/empty-diamond.png" alt="Empty diamond"
		*ngSwitchCase="4"
		class="edge-endpoint"
		[ngStyle]="{'-webkit-transform':startEndpointTransform(),
		'transform':startEndpointTransform(),
		'width':20+'px'}"
		[style.left.px]="shiftedPoint(10).x"
		[style.top.px]="shiftedPoint(10).y"
	>
	<img src="../assets/edge-endpoints/filled-diamond.png" alt="Filled diamond"
		*ngSwitchCase="5"
		class="edge-endpoint"
		[ngStyle]="{'-webkit-transform':startEndpointTransform(),
		'transform':startEndpointTransform(),
		'width':20+'px'}"
		[style.left.px]="shiftedPoint(10).x"
		[style.top.px]="shiftedPoint(10).y"
	>
</ng-container>

<ng-container [ngSwitch]="endStyle">
	<img src="../assets/edge-endpoints/empty-arrow.png" alt="Empty arrow"
		*ngSwitchCase="2"
		class="edge-endpoint"
		[ngStyle]="{'-webkit-transform':endEndpointTransform(),
		'transform':endEndpointTransform(),
		'width':10+'px'}"
		[style.left.px]="shiftedPoint(7,true).x"
		[style.top.px]="shiftedPoint(7,true).y"
		>
	<img src="../assets/edge-endpoints/filled-arrow.png" alt="Filled arrow"
		*ngSwitchCase="3"
		class="edge-endpoint"
		[ngStyle]="{'-webkit-transform':endEndpointTransform(),
		'transform':endEndpointTransform(),
		'width':10+'px'}"
		[style.left.px]="shiftedPoint(7,true).x"
		[style.top.px]="shiftedPoint(7,true).y"
		>
	<img src="../assets/edge-endpoints/empty-diamond.png" alt="Empty diamond"
		*ngSwitchCase="4"
		class="edge-endpoint"
		[ngStyle]="{'-webkit-transform':endEndpointTransform(),
		'transform':endEndpointTransform(),
		'width':20+'px'}"
		[style.left.px]="shiftedPoint(10,true).x"
		[style.top.px]="shiftedPoint(10,true).y"
		>
	<img src="../assets/edge-endpoints/filled-diamond.png" alt="Filled diamond"
		*ngSwitchCase="5"
		class="edge-endpoint"
		[ngStyle]="{'-webkit-transform':endEndpointTransform(),
		'transform':endEndpointTransform(),
		'width':20+'px'}"
		[style.left.px]="shiftedPoint(10,true).x"
		[style.top.px]="shiftedPoint(10,true).y"
		>
</ng-container>

<div class="edge-text"
	*ngIf="!emptyLabel()"
	[style.left.px]="midpoint().x"
	[style.top.px]="midpoint().y"
	(dblclick)="labelDoubleClicked.emit($event);"
>
	{{label}}
</div>

