<header>
	<a routerLink="/"><img src="../assets/logo.png" alt="Logo" class="header-logo"></a>
	<h1>Create and account</h1>
</header>


<ul class="centered-list">
	<li><input type="text" placeholder="First Name" [(ngModel)]="user.firstName" class="form-field"/></li>
	<li><input type="text" placeholder="Last Name" [(ngModel)]="user.lastName" class="form-field"/></li>
	<li><input type="text" placeholder="Email" [(ngModel)]="user.email" class="form-field"/></li>
	<li><input type="password" placeholder="Password (minimum 8 charecters)" [(ngModel)]="user.password" class="form-field"/></li>
	<li><input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" class="form-field"/></li>
</ul>

<ul class="centered-list horizontal-list no-list-style">
	<li>
		<a tabindex="4" class="button primary" (click)="createUserAccount()">Sign Up</a>
	</li>
</ul>