<div id="container" 
	[focus]="true"
	(window:keydown)="keydown($event)"
	(window:keyup)="keyup($event)"
	(window:keypress)="keypress($event)"
	(window:resize)="resize($event)"
	[style.cursor]="windowMovementAllowed?(dragEntered?'all-scroll':'all-scroll'):'auto'"
	>

	<!-- Show starter tip only if there is nothing in the scene -->
<!--[style.left.px]="massiveArea.width/2"
		[style.top.px]="massiveArea.height/2"-->
		<h1 id="starter-tip"
		*ngIf="
		workspace!=null &&
		workspace.worksheet.diagramModel.edgeList.length==0 && 
		workspace.worksheet.diagramModel.nodeList.length==0"
		>Press A or 1 to open the creation drawer</h1>
	<artboard 
		(mousedownEvent)="mousedown($event)"
		(mousemoveEvent)="mousemove($event)"
		(mouseupEvent)="mouseup($event)"
		[workspace]="workspace"
	></artboard>
	<sidebar></sidebar>
	<a id="back-to-dashboard" [routerLink]="'../../../dashboard'">
		Back {{autoSaveStatusString()}}
	</a>
	<!--<ul id="menu-controls" [@shiftMenuControls]="sidebar.open?'shifted':'unshifted'">
		<li (click)=toggleSidebar()>Menu</li>
		
		<li>{{autoSaveStatusString()}}</li>
	</ul>-->
</div>
